.title {
    text-transform: uppercase;
    font-size: 8vw;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
  }
  
  .Header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Horizantal {
    margin: 10px;
    width: 100%;
    background-color: grey;
  }